body {
    background-color: var(--backgroundColor);
    font-family: var(--font);
}

:root {
    --backgroundColor: #22272c;
    --elementColor: #2f353a;
    --titleTextColor: #fb8c2b;
    --font: 'Roboto Condensed', sans-serif;
}

.roundedCorners {
    border-radius: 10px;
    border: 3px solid var(--backgroundColor);
}

.inputText {
    padding: 3px;
    font-family: var(--font);
    font-size: 25px;
    text-align: center;
}

.btn {
    padding: 3px;
    font-family: var(--font);
    color: var(--backgroundColor);
    font-size: 1em;
    cursor: pointer;
}

.normalText {
    font-family: var(--font);
    color: white; 
    text-shadow: black 0 0 5px;
}

.titleText {
    font-family: var(--font);
    color: var(--titleTextColor); 
    text-shadow: black 0 0 5px;
}

.scroller {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.scroller > div {
    margin: 10px;
}

.editorElement {
    width: 350px;
    height: 150px;
    min-width: 350px;
    background-color: var(--elementColor);
    margin-top: 10px;
    overflow: auto;
    box-shadow: inset 0px 0px 0px 1px var(--elementColor);
    border-radius: 6px;
}

.center-horizontal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}